body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.5s ease; /* Transição suave para mudança de cor */
}

header {
    background: #007bff;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 40px;
    text-align: center;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor do botão */
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #ffffff;
    position: relative; /* Para evitar problemas de sobreposição */
    bottom: 0;
    width: 100%;
}

p {
    font-size: 18px;
    margin: 20px 0; /* Espaçamento para o parágrafo */
}
